<% recipes.forEach(recipe => { %>
    <a href="/recipes/<%= recipe.id %>">
        <div class="recipe-card">
            <h2><%= recipe.title %></h2>

            <p>Difficulté: <%= recipe.difficulty %></p>
            <% if (recipe.picture) { %>
                <img src="<%= recipe.picture %>" alt="<%= recipe.title %>" width="300">
            <% } %>
        </div>
    </a>
    <span class="stars">
    <% for(let i = 1; i <= 5; i++) { %>
        <% if(i <= Math.round(recipe.averageRating)) { %>
            <span class="star full">★</span>
        <% } else { %>
            <span class="star empty">☆</span>
        <% } %>
    <% } %>
</span>
<% }) %>